:root {
    --primary-color: #34df7b;
    --primary-color-accent: #4cf793;
    --text-color-light: #e3f7ed;
    --text-color-dark: rgb(27, 29, 31);
}

body {
    display: flex;
    background-color: rgb(10, 15, 20);
    font-family: 'Roboto', sans-serif;
    gap: 48px;
    padding: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1080px;
    gap:36px;
}

#canva {
    border: 1px solid black;
    width: 1080px;
    height: 720px;
    background-color: rgb(27, 29, 31);
}

#inputfile {
    display: none;
}

#inputlabel {
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 25px;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
}

#inputlabel:hover {
    background-color: var(--primary-color-accent);
}

.right {
    width: 100%;
}

.slider {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-light);
    gap: 12px;
    width: 100%;
    font-weight: 300;
    font-size: 24px;
}

.slider > p {
    width: 25%;
}

.slider > input {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 20px;
    transform: translateY(-33%);
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 8px;
    background-color: var(--text-color-light);
}